.about{
    width: 100vw;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.about .welcome-text{
    margin-top: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: monospace;
}

.about .heading{
    margin-top: 2rem;
    text-align: center;
    font-size: 4rem;
    color: var(--vintage-grape);
}

.about .slider{
    width: 100vw;
    height: 20vh;
    padding: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    overflow-x: scroll;
    scrollbar-width: none;

    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.about .cards{
    height: 100%;
    transform-style: inherit;
    cursor: url("svg/hand-pointer.svg") 10 10, pointer;
}

.about .card-image{
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
    
    transition: all 0.4s ease-in-out;
    filter: brightness(0);
}

.about .cards:has(+ * + *:hover) img{
    filter: brightness(0.14);
    transform: translateZ(50px) rotateY(-20deg);
}

.about .cards:has(+ *:hover) img{
    filter: brightness(0.5);
    transform: translateZ(100px) rotateY(-10deg);
}

.about .cards:hover img{
    filter: brightness(1);
    transform: translateZ(150px) rotateY(0deg);
}

.about .cards:hover + * img {
    filter: brightness(0.5);
    transform: translateZ(100px) rotateY(10deg);
} 

.about .cards:hover + * + * img {
    filter: brightness(0.14);
    transform: translateZ(50px) rotateY(20deg);
} 


.about .contents{
    width: 100vw;
    min-height: 40vh;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.about .content-box{
    width: clamp(20rem, 80vw, 30rem);
    height: auto;
    padding: 1.5rem;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: relative;
    border: 1px solid rgba(181, 156, 145, 0.3);
    background: linear-gradient(120deg, rgba(244, 228, 213, 0.3), rgba(181, 156, 145, 0.3));
    backdrop-filter: blur(3px);
    box-shadow: 3px 3px 3px var(--dusty-taupe);
}
.about .content-box .arrow{
    position: absolute;
    top: -100%;

}

.about .content-box .heading{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
}

.about .content-box .description{
    font-family: "Minecraftchmc";
    font-size: 2rem;
}

.about .content-box .content-btn{
    padding: 1rem 2rem;
    font-size: 2.4rem;
    border-radius: 100px;
    background: linear-gradient(120deg, rgba(var(--dusty-taupe), 0.9), rgba(var(--smoky-rose), 0.9));
    border: 1px solid rgba(181, 156, 145, 0.2);
    box-shadow: 3px 3px 5px var(--dusty-taupe);
    backdrop-filter: blur(4px);
    font-family: "Naylorville";
}

@media screen and (max-width: 786px) {
    .about .heading{
        font-size: 3rem;
    }
    .about .slider{
        height: 10vh;
    }
    .about .content-box .heading{
        font-size: 2.4rem;
    }

    .about .cards:has(+ * + *:hover) img{
        filter: brightness(0.14);
        transform: translateZ(50px) rotateY(-20deg);
    }

    .about .cards:has(+ *:hover) img{
        filter: brightness(0.5);
        transform: translateZ(100px) rotateY(-10deg);
    }

    .about .cards:hover img{
        filter: brightness(1);
        transform: translateZ(450px) rotateY(0deg);
    }

    .about .cards:hover + * img {
        filter: brightness(0.5);
        transform: translateZ(100px) rotateY(10deg);
    } 

    .about .cards:hover + * + * img {
        filter: brightness(0.14);
        transform: translateZ(50px) rotateY(20deg);
    } 
}