.about{
    width: 100vw;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.about .welcome-text{
    margin-top: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: monospace;
}

.about .heading{
    margin-top: 2rem;
    text-align: center;
    font-size: 4rem;
    color: var(--vintage-grape);
}

.about .shilhoute-interactbox{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .slider{
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1100px;
    perspective-origin: center 60%;
    transition: all 0.35s ease;
}

.about .slider::-webkit-scrollbar{ display: none;}

.about .slider-wrapper{
    min-width: max-content;
    margin: 0.8rem;
    padding: 2rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    
    transform-style: preserve-3d;
}

.about .cards{
    flex-shrink: 0;
    transform-style: preserve-3d;
    cursor: url("svg/hand-pointer.svg") 10 10, pointer;
}

.about .card-image{
    aspect-ratio: 1 / 1;
    height: 20vh;
    object-fit: cover;
    display: block;
    
    transition: transform 0.35s ease, filter 0.35s ease;
    filter: brightness(0);
    transform: translateZ(0px) scale(1);
    transform-origin: center bottom;
    will-change: transform, filter;
}

.about .cards:has(+ * + * + *:hover) img{
    filter: brightness(0.14);
    transform: translateZ(50px) rotateY(-10deg);
}

.about .cards:has(+ * + *:hover) img{
    filter: brightness(0.28);
    transform: translateZ(100px) rotateY(-20deg);
}

.about .cards:has(+ *:hover) img{
    filter: brightness(0.5);
    transform: translateZ(150px) rotateY(-25deg);
}

.about .cards:hover img{
    filter: brightness(1);
    transform: translateZ(200px) rotateY(0deg);
}

.about .cards:hover + * img {
    filter: brightness(0.5);
    transform: translateZ(150px) rotateY(25deg);
} 

.about .cards:hover + * + * img {
    filter: brightness(0.28);
    transform: translateZ(100px) rotateY(20deg);
} 
.about .cards:hover + * + * + * img {
    filter: brightness(0.14);
    transform: translateZ(50px) rotateY(10deg);
} 

.about .arrow-button{
    width: 3vw;
    height: 14vh;
    margin: 0 1vw;
    padding: 2vw;
    border-radius: 12px;
    box-shadow: 0px 1px 5px grey;
    color: var(--almond-cream);
    background-color: var(--vintage-grape);

    transition: all 0.35s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .arrow-button:hover{
    cursor: url("svg/hand-pointer.svg") 10 10, pointer;
    scale: 1.09;
}

.about .arrow-left{
    left: 2vw;
    justify-self: start;;
}
.about .arrow-right{
    right: 2vw;
    justify-self: end;
}
.about .arrow:before{
    content: "";
    display: block;

    background: transparent;
    border-style: solid;
    border-width: 30px 0px 30px 35px;
    border-color: transparent transparent transparent var(--almond-cream);
}


.about .contents{
    width: 100vw;
    padding: 1rem 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
.about .content-box{
    height: auto;
    padding: 2rem;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    position: relative;
    border: 1px solid rgba(181, 156, 145, 0.3);
    background: linear-gradient(120deg, rgba(244, 228, 213, 0.3), rgba(181, 156, 145, 0.3));
    backdrop-filter: blur(3px);
    box-shadow: 3px 3px 3px var(--dusty-taupe);
}
.about .content-box .arrow{
    position: absolute;
    top: -100%;

}

.about .content-box .heading{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
}

.about .content-box .description{
    font-family: "Minecraftchmc";
    font-size: 2rem;
}

.about .content-box .content-btn{
    padding: 1rem 2rem;
    font-size: 2.4rem;
    border-radius: 100px;
    background: linear-gradient(120deg, rgba(var(--dusty-taupe), 0.9), rgba(var(--smoky-rose), 0.9));
    border: 1px solid rgba(181, 156, 145, 0.2);
    box-shadow: 3px 3px 5px var(--dusty-taupe);
    backdrop-filter: blur(4px);
    font-family: "Naylorville";
}

@media screen and (max-width: 786px) {
    .about .heading{
        font-size: 3rem;
    }
    .about .content-box .heading{
        font-size: 2.4rem;
    }
    .about .card-image{
        height: 6vh;
    }
    .about .arrow-button{
        visibility: hidden;
    }
}