.home{
    
    display: flex;
    height: calc(100vh - var(--nav-height));

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    /* background: linear-gradient(120deg, var(--dusty-taupe), white, var(--dusty-taupe)); */

    user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.home .main-contents{
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.home .heading{
    width: min(90vw, 1000px);
    font-size: min(6vw, 3rem);
    color: var(--vintage-grape);
    white-space: nowrap;
    text-align: center;
}

.home .description {
    font-size: 0.85rem;
    font-weight: 100;
    max-width: 40vw;
    font-family: monospace;
    text-align: center;
}

.home .kellywindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    letter-spacing: 2px;
}

.home .kellywindow img{
    aspect-ratio: 1 / 1;
    height: clamp(12rem, 18vw, 13rem);
}
.home .kellywindow h2{
    font-size: clamp(1.2rem, 1vh, 2rem);
    text-align: center;
    text-wrap: nowrap;
}
.home .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.home .chat-btn{
    width: 30rem;
    height: 4rem;
    display: flex;
    position: relative;
    padding: 1rem 3vh;
    gap: min(5vw, 2rem);
    align-items: center;
    justify-content: flex-start;
    border-radius: 100px;
    background: linear-gradient(120deg, rgba(var(--dusty-taupe), 0.9), rgba(var(--smoky-rose), 0.9));
    backdrop-filter: blur(10px);
    font-size: 1.4rem;
    font-family: monospace;
    transition: transform 0.3s ease-in-out;
    box-shadow: 3px 3px 5px var(--dusty-taupe);
}

.chat-btn .kellyicon{
    width: 1.8rem;
    height: 1.8rem;
    object-fit: cover;
    object-position: center;
}
.chat-btn .chat-arrow{
    position: absolute;
    top: 50%;
    left: calc(100% - 8vh);
    width: 5vw;
    aspect-ratio: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    transform:  translateY(-50%);
}

.home .discord-btn{
    width: 20rem;
    height: 3.7rem;
    border-radius: 99px;
    background: linear-gradient(90deg, #384CFF, #6373FF);
    font-size: 1.7rem;
    font-family: "Naylorville";
    text-wrap: nowrap;
    transition: transform 0.4s ease-in-out;
    box-shadow: 3px 3px 5px var(--dusty-taupe);
}
.home .discord-btn:hover , .home .chat-btn:hover{
    transform: translateY(-4px) scale(1.01);
}

.home .chat-btn:hover .chat-arrow{
    animation: circle 1s linear 1;
    animation-timing-function: ease-in-out;
}

@keyframes circle {
    0%{
        rotate: 0;
    }
    100%{
        rotate:  +360deg;
    }
}

@media screen and (max-width: 786px) {
    .home .description{
        font-size: 0.8rem;
        max-width: 80vw;
    }
    .home .chat-btn {
        width: 24rem;
    }
    .home .chat-arrow{
        left: calc(100% - 4.7vh);
    }
    .home .kellywindow{
        justify-content: space-evenly;
        gap: 4rem;
    }
    .home .buttons{
        gap: 2rem;
    }
}

@media screen and (max-width: 1200px) {
    .home .description{
        font-size: 1.2rem;
    }
    .home .buttons{
        gap: 2rem;
    }
    .home .kellywindow{
        justify-content: space-evenly;
        gap: 4rem;
    }
    .home .kellywindow img{
        max-height: 14rem;
    }
}