.home{
    background: linear-gradient( var(--pearl-beige), white, #56474B);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12vh;
    padding-left: 7vw;
    padding-right: 7vw;
}

.home .main-contents{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.home .heading{
    font-size: clamp(2rem, 6vh, 4rem);
    font-family: "Caveat";
    color: white;
    word-wrap: nowrap;
}

.heading:hover{
    animation: wiggle 1s linear;
}
@keyframes wiggle {
    100%{
        transform: translateX(-10px);
    }
}
.home .heading span{
    color: rgb(0, 136, 255);
}

.home .description {
    font-size: clamp(0.5rem, 2vw, 1.3rem);
    max-width: 50vw;
    font-family: monospace;
    text-align: center;
}

.home .kellywindow{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    letter-spacing: 2px;
}

.home .kellywindow img{
    width: 11rem;
    height: 11rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.chat-btn{
    width: 20rem;
    height: 4rem;
    border-radius: 15px;
    background: linear-gradient(120deg, rgb(201, 187, 187), rgb(212, 198, 175));
    font-size: 2rem;
    font-family: "Kalam";
    transition: transform 0.3s ease-in-out;
}

.discord-btn{
    width: 20rem;
    height: 4rem;
    border-radius: 99px;
    background: linear-gradient(90deg, #384CFF, #6373FF);
    font-size: 2rem;
    font-family: "Kalam";
    transition: transform 0.4s ease-in-out;
}

.discord-btn:hover , .chat-btn:hover{
    transform: translateY(-4px) scale(1.01);
}


@media screen and (max-width: 786px) {
    .home .description{
        max-width: 70vw;
    }
}