header {
    width: 100vw;
    height: var(--nav-height);

    background: var(--almond-cream);
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.nav-background{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(var(--position));
    animation: movie 25s linear infinite;
    animation-play-state: paused;
}
.site-title{
    margin-left: 2vw;
    pointer-events: none;
}
.site-title img{
    height: 100%;
}
.site-title h1{
    position: relative;
    z-index: 101;
    font-size: clamp(2rem, 3vw, 3rem);
    pointer-events: all;
    transition: all 0.2s ease-in-out;
    background: var(--almond-cream);
    background-clip: text;
}

.site-title:hover img{
    animation-play-state: running;
}
.site-title:hover h1{
    scale: 1.02;
    translate: -4px -4px;
}
@keyframes movie {
    100%{
        transform: translateX(calc(-100% + var(--position)));
    }
}

.nav-btn{
    position: absolute;
    right: 0;
    margin-right: 2vw;
}
.nav-btn svg{
    width: 2rem;
    height: 2rem;
    stroke-width: 1.2px;
}

.nav-overlay{
    background-image: linear-gradient(0deg, rgba(61, 61, 61, 0.5), rgba(99, 99, 99, 0.5));
    backdrop-filter: blur(0.8);
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    z-index: 101;
    visibility: hidden;
}
.nav-overlay nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-overlay a{
    font-family: "Kalam", cursive;
    font-size: 3rem;
    color: #f5f3f3;
}

@keyframes disco {
    0%, 100%{
        color: black;
    }
    15%{
        color: green;
    }
    25%{
        color: yellow;
    }
    40%{
        color: skyblue;
    }
    60%{
        color: palevioletred;
    }
    75%{
        color: rgb(180, 0, 180);
    }
    90%{
        color: blue;
    }
}

@media screen and (max-width: 786px) {
    .site-title h1{
        content: "Kasturi"
    }
}