.floatbox {
    position: relative;
}
.floating {
    position: absolute;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
}
.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}

.top-left{
    position: absolute;
    top: 0;
    left: 0;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    bottom: 0;
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

@font-face {
    font-family: "Maus";
    src: url("/fonts/Maus.ttf") format("truetype");
}
@font-face {
    font-family: "Minecrafter";
    src: url("/fonts/Minecrafter.ttf") format("truetype");
}
@font-face {
    font-family: "Minecraftchmc";
    src: url("/fonts/Minecraftchmc.ttf") format("truetype");
}
@font-face {
    font-family: "Scribble";
    src: url("/fonts/scribble.ttf") format("truetype");
}
@font-face {
    font-family: "Naylorville";
    src: url("/fonts/Naylorville.ttf") format("truetype");
}
@font-face {
    font-family: "General";
    src: url("/fonts/general.woff2") format("woff2");
}
@font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
}
@font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
}

.font-maus{
    font-family: "Maus", serif;
}
.font-minecrafter{
    font-family: "Minecrafter", serif;
}
.font-minecraftchmc{
    font-family: "Minecraftchmc", serif;
}
.font-scribble{
    font-family: "Scribble", serif;
    letter-spacing: 2px;
}
.font-naylorville{
    font-family: "Naylorville", sans-serif;
}
.font-general{
    font-family: "General", sans-serif;
}
.font-robert-regular{
    font-family: "robert-regular", sans-serif;
}


.color-grinding-sky{
    color: var(--grinding-sky);
}
.color-dusty-taupe{
    color: var(--dusty-taupe);
}
.color-vintage-grape{
    color: var(--vintage-grape);
}
.color-grapefruit-pink{
    color: var(--grapefruit-pink);
}
.color-mauve-shadow{
    color: var(--mauve-shadow);
}
.color-almond-cream{
    color: var(--almond-cream);
}
.color-strong-cyan{
    color: var(--strong-cyan);
}

.animation-flicker-color{
    animation: flicker-color 1s infinite;
    animation-delay: 2s;
}

@keyframes flicker-color {
    0%, 100%{ color: var(--vintage-grape);}
}